@model List<Title>
@{
    int count = 0;
}
@section Css{
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.2/sweetalert2.min.css" integrity="sha512-NvuRGlPf6cHpxQqBGnPe7fPoACpyrjhlSNeXVUY7BZAj1nNhuNpRBq3osC4yr2vswUEuHq2HtCsY2vfLNCndYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<div class="container">
    <div class="d-flex" style="justify-content: space-around; align-items:center">
        <h1>Titles:</h1>
        <th><a class="btn btn-primary" asp-controller="Title" asp-action="Create">Create</a></th>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Description</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Title title in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@title.Id</td>
                    <td>@title.Text</td>
                    <td>@title.Description</td>
                    <th>
                        <a class="btn btn-primary" asp-controller="Title" asp-action="Edit" asp-route-id="@title.Id">Edit</a>
                    </th>
                </tr>
            }

        </tbody>
    </table>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.7.2/sweetalert2.min.js" integrity="sha512-jSNGQoIZ0qago6DK45skZbDI1JC8bmANSwItgDnMXiAnJm0Lq6QB4yXY8QPKqS68iR3ngZi0pM5+wZvg1kCCKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }